/* Contenedor padre que envuelve todo */


.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0%, 5%);
  transform-origin: bottom right;
  perspective: 900px;
  overflow: visible;

  width: 100%;
  height: 100%; /* ✅ Que ocupe todo su contenedor padre */
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrado verdadero */
  width: 100%;  /* ✅ ocupa todo el espacio disponible */
  height: 100%; /* ✅ ocupa todo el espacio disponible */
  max-width: 600px; /* Opcional, para evitar que se vea gigante */
  max-height: 90vh; /* O también 100%, si prefieres */
  border-radius: 12px;
  border: 3px solid var(--color-text-primary);
  background: var(--color-background);

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(10%, 0%);
    
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.95) translate(-10%, 0%);
    max-width: 100%;
    height: auto;
  }

  .card {
    width: 90%;
    height: auto;
  }
}
