.testimonials-section {
  position: relative; /* necesario para que el z-index funcione */
  z-index: 10; /* ⬆️ más alto que la sección anterior */
  background-color: var(--color-background);
  padding: 5rem 0;
  padding-bottom: 8rem;
}


.testimonials-container {
  max-width: 80%;
  margin: 0 auto;
}

.testimonials-header {
  margin-bottom: 4rem;
}

.testimonials-header.left-align {
  text-align: left;
}

.testimonials-subtitle {
  color: var(--color-text-secondary);
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.testimonials-title {
  color: var(--color-text-primary);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .testimonials-container {
    max-width: 90%;
  }
  
  .testimonials-title {
    font-size: 1.5rem;
  }
  .testimonials-subtitle {
    font-size: 1.5rem;
  }
}

.testimonials-cards-wrapper {
  position: relative;
}

.testimonials-cards-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    var(--color-background) 10%,
    transparent 30%,
    transparent 70%,
    var(--color-background) 90%
  );
  z-index: 10;
  pointer-events: none;
}
